{"filter":false,"title":"requirements_project.txt","tooltip":"/fb_post_learning/requirements_project.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1588782503988,"hash":"8a7ac1c531f19dad9fbc939c6f3e8241f7432926"}